<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
  <!--
    AUTOSAR Can_TI_AM263x plugin
    Project: TI Sitara MCU AM263x MCAL Drivers

    Copyright 2022 by Texas Instruments, Inc.
    All rights exclusively reserved for Texas Instruments Inc,
    unless expressly agreed to otherwise.
  -->
<plugin>
    <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="Can_TI_AM263x_ModuleId"
             name="Can_TI_AM263x Module">

    <module id="Can_TI_AM263x"
            label="Can"
            mandatory="false"
            allowMultiple="false"
            description="TI Sitara MCU AM263x Can plug-in"
            copyright="(c) 2022 Texas Instruments Incorporated"
            swVersionMajor="10"
            swVersionMinor="2"
            swVersionPatch="1"
            swVersionSuffix=""
            specVersionMajor="4"
            specVersionMinor="6"
            specVersionPatch="0"
            specVersionSuffix=""
            relVersionPrefix="AUTOSAR"
            relVersionMajor="4"
            relVersionMinor="3"
            relVersionPatch="1"
            relVersionSuffix="0"
            categoryType="Can"
            categoryLayer="Communication Drivers"
            categoryCategory="CAN"
            categoryComponent="ECUC">
      <ecuType target="ARM" derivate="AM263x"/>
    </module>
  </extension>


    <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="Can_TI_AM263x_ConfigId"
             name="Can_TI_AM263x Configuration">
    <configuration moduleId="Can_TI_AM263x">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/Can.xdm" type="xdm" id="res_default"/>
		
		<resource value="config_ext/Can_Rec.xdm" type="xdm" id="res_recconf"/>
        
		<recconfig name="Default Recommended Configuration"
                   default="true"
                   description="Default Recommended Configuration"
                   resourceId="res_recconf"
                   path="ASPath:/TI_AM263x/Can_Rec"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TI_AM263x/Can"/>
      </data>

      <editor id="Can_TI_AM263x_EditorId"
              label="Default"
              tooltip="TI AutoRadar Can plug-in">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TI_AM263x/Can"/>
          <parameter name="title" value="Can"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>
  <extension point="dreisoft.tresos.launcher2.plugin.generator"
              id="Can_TI_AM263x_GeneratorId"
              name="Can_TI_AM263x Generator">
    <generator
          class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
          id="CanGenerator_AM263x"
          moduleId="Can_TI_AM263x">

      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate,generate_swcd"/>
    </generator>
  </extension>


</plugin>

