<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
  <!--
    AUTOSAR Adc_TI_AM263x plugin
    Project: TI Sitara MCU AM263x MCAL Drivers

    Copyright 2022-2023 by Texas Instruments, Inc.
    All rights exclusively reserved for Texas Instruments Inc,
    unless expressly agreed to otherwise.
  -->
<plugin>
    <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="Adc_TI_AM263x_ModuleId"
             name="Adc_TI_AM263x Module">

    <module id="Adc_TI_AM263x"
            label="Adc"
            mandatory="false"
            allowMultiple="false"
            description="TI Sitara MCU AM263x Adc plug-in"
            copyright="(c) 2022-2023 Texas Instruments Incorporated"
            swVersionMajor="10"
            swVersionMinor="2"
            swVersionPatch="2"
            swVersionSuffix=""
            specVersionMajor="4"
            specVersionMinor="3"
            specVersionPatch="1"
            specVersionSuffix=""
            relVersionPrefix="AUTOSAR"
            relVersionMajor="4"
            relVersionMinor="3"
            relVersionPatch="1"
            relVersionSuffix="0"
            categoryType="Adc"
            categoryLayer="I/O Drivers"
            categoryCategory="ADC"
            categoryComponent="ECUC">
      <ecuType target="ARM" derivate="AM263x"/>
    </module>
  </extension>


    <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="Adc_TI_AM263x_ConfigId"
             name="Adc_TI_AM263x Configuration">
    <configuration moduleId="Adc_TI_AM263x">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/Adc.xdm" type="xdm" id="res_default"/>

		<resource value="config_ext/Adc_Rec.xdm" type="xdm" id="res_recconf"/>

		<recconfig name="Default Recommended Configuration"
                   default="true"
                   description="Default Recommended Configuration"
                   resourceId="res_recconf"
                   path="ASPath:/TI_AM263x/Adc_Rec"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TI_AM263x/Adc"/>
      </data>

      <editor id="Adc_TI_AM263x_EditorId"
              label="Default"
              tooltip="TI Sitara MCU Pwm plug-in">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TI_AM263x/Adc"/>
          <parameter name="title" value="Adc"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>
  <extension point="dreisoft.tresos.launcher2.plugin.generator"
              id="Adc_TI_AM263x_GeneratorId"
              name="Adc_TI_AM263x Generator">
    <generator
          class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
          id="AdcGenerator"
          moduleId="Adc_TI_AM263x">

      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate,generate_swcd"/>

    </generator>
  </extension>


  <extension point="org.eclipse.help.toc">
    <toc file="anchors.xml" primary="true"/>
  </extension>

</plugin>
